 .node circle {
   fill: #000;
   stroke: royalblue;
   stroke-width: 3px;
 }

.node text { font: 12px sans-serif; }

.node {
  cursor: pointer;
 }

 .link {
   fill: none;
   stroke: #ccc;
   stroke-width: 2px;
 }
